<button mat-button (click)="test('Blauburgunder')">test</button>
<button mat-button (click)="all()">test</button>
<button mat-button (click)="year(2018)">Action</button>
<p>tag</p>

<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Award</mat-label>
        <input matInput placeholder="Ex. Wineaward 2012" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Year</mat-label>
        <input matInput placeholder="Ex. 2008" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Ex. " value="">
    </mat-form-field>
