<form #(submit)="">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Award</mat-label>
        <input type="text" matInput placeholder="Ex. Wineaward 2012" #searchTermA>
    </mat-form-field>
    <ng-container *ngIf="searchTermA.value">
        <button mat-button (click)="searchAll(searchTermA.value)"><mat-icon>search</mat-icon></button>
    </ng-container>
    <ng-template #default>
        <button mat-button (click)="searchAll('')"><mat-icon>search</mat-icon></button>
    </ng-template>
</form>
<!--<wa-spinner></wa-spinner>-->
<wa-table [data]="allwines"></wa-table>
