<form class="example-form" #(submit)="">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Award</mat-label>
        <input type="text" matInput placeholder="Ex. Wineaward 2012" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Year</mat-label>
        <input type="number" matInput placeholder="Ex. 2008" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Type</mat-label>
        <input type="text" matInput placeholder="Ex. Blauburgunder" value="">
    </mat-form-field>
</form>

<!--
  formControlName="award"
  formControlName="year"
  formControlName="name"
[formGroup]="filterForm"
  [(ngModel)]="awardTerm"
  [(ngModel)]="vintageTerm"
  [(ngModel)]="titelTerm"-->